<section class="result">
  <% if @game.won? %>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <center>
            <h3>Victory!</h3>
            <img width="300" src="images/win.jpg" alt="win">
          </center>
          <p class="score">Your score: <%= @new_record.score %></p>
          <p class="place bg-info">You actually took <span class="bold"><%= @new_record.place %></span> place in leaderboards</p>
          <form action="/record" class="">
            <div class="form-group">
              <label for="name">Nickname: </label>
              <input type="text" id="name" name="name" value="<%= @new_record.name %>" class="form-control">
           </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/" class="btn btn-default">Skip</a>
          </form>
        </div>
      </div>
    </div>
  <% elsif @game.lost? %>
  <div class="lost">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <center>
            <h3>Defeat!</h3>
            <img src="images/lose.jpg" alt="Lose"> <br> <br>
            <p>The code was: <%= @game.secret %></p>
            <a href="/" class="btn btn-default">Go Home..</a>
          </center>
        </div>
      </div>
    </div>
  <% end %>
</section>
