<!DOCTYPE html>
<html>
  <head>
    <title>sarcasm-codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SarCasm-CodeBreaker</a>
        </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <section class="result">
      <% if game.won? %>
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <center>
                <h3>Victory!</h3>
                <img width="300" src="images/win.jpg" alt="win">
              </center>
              <p class="score">Your score: <%= game.score %></p>
              <p class="place bg-info">You actually took <span class="bold"><%= place %></span> place in leaderboards</p>
              <form action="/record" class="">
                <div class="form-group">
                  <label for="name">Nickname: </label>
                  <input type="text" id="name" name="name" class="form-control">
               </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/" class="btn btn-default">Skip</a>
              </form>
            </div>
          </div>
        </div>
      <% elsif game.lost? %>
      <div class="lost">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <center>
                <h3>Defeat!</h3>
                <img src="images/lose.jpg" alt="Lose"> <br> <br>
                <p>The code was: <%= game.secret %></p>
                <a href="/" class="btn btn-default">Go Home..</a>
              </center>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  </body>
</html>
